<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css"></link>
        <script src="./../static/js/login.js"></script>
    </head>
    <body>
        <div class="full-screen center-middle">
            <div>
                <div>
                    <b>Username:</b>
                    <form id=usernameID class="input"></form>
                </div>
                <div>
                    <b>Password:</b>
                    <form id=passwordID type="password" class="input"></form>
                </div>
                <div>
                    <button onclick="login()">SUBMIT</button>
                    <a href="./create-account">Create account!</a>
                </div>
            </div>
        </div>
    
    </body>
</html>
